<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>What's all the FaaS about?</title>
    <style>
        body
        {
            text-align:center;
        }
    </style>
</head>
<body>

<h1>What's all the FaaS about?</h1>
<p>Get it? It's a punn.</p>
<p>Unfunny joke brought to you by John Demian</p>

</body>
</html>