type: retail-app # TODO: Is this the name?
version: 0.0.1

components:
  # The frontend
  webFrontend: # TODO: How shall I name this?
    type: static-website # TODO: What are the options?
    inputs:
      name: retail-frontend # TODO: How shall I name this?
      contentPath: ${self.path}/frontend # TODO: Shall I use some other folder?
      templateValues:
        apiUrl: ${productsApi.url}
      contentIndex: index.html
      contentError: error.html
      hostingRegion: us-east-1 # TODO: Change this!
      hostingDomain: retail-${self.serviceId}.example.com # TODO: Change this to photato.eu
      aliasDomain: www.retail-${self.serviceId}.example.com # TODO: Change this to www.photato.eu

  # The REST API
  productsApi:
    type: rest-api
    inputs:
      gateway: aws-apigateway # TODO: Is this some magic value?
      routes:
        /products: # TODO: I will need different values here
          post:
            function: ${createProduct}
            cors: true
          /{id}:
            get:
              function: ${getProduct}
              cors: true
        /catalog/{...categories}:
          get:
            function: ${listProducts}
            cors: true

  # The backend
  createProduct: # TODO: Add my real functions
    type: aws-lambda
    inputs:
      memory: 512
      timeout: 10
      handler: products.create
      root: ${self.path}/code # TODO: Is this a descriptive folder name?
      env:
        productTableName: products-${self.serviceId}
  getProduct:
    type: aws-lambda
    inputs:
      memory: 512
      timeout: 10
      handler: products.get
      root: ${self.path}/code
      env:
        productTableName: products-${self.serviceId}
  listProducts:
    type: aws-lambda
    inputs:
      memory: 512
      timeout: 10
      handler: products.list
      root: ${self.path}/code
      env:
        productTableName: products-${self.serviceId}

  # The DB
  productsDb: # TODO: I'll need to rename this DB
    type: aws-dynamodb
    inputs:
      region: us-east-1 # TODO: Use a different region
      tables: # TODO: Add my own tables and indexes
      - name: products-${self.serviceId}
        hashKey: id
        indexes:
        - name: ProductIdIndex
          type: global
          hashKey: id
        schema:
          id: number
          name: string
          description: string
          price: number
        options:
          timestamps: true